header {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 15px 20px;
}

.container {
    max-width: 1200px;
    height: 100px;
    margin: auto;
    background-color: #f2f2f2;
}